<!-- directive -->
<!-- ngFor -->
<!-- ngIf -->
<ng-container *ngIf="language == 'tr'; else enMessage">
  <h1 style="color:red ;">Merhaba</h1>
</ng-container>

<ng-template #enMessage>
  <h1 style="color:red ;">Hello</h1>
</ng-template>

<!-- Show just some part base on  Category length  -->
<ul *ngIf="categories">
  <div *ngFor="let item of categories">
    <ng-container *ngIf="item.description.length > 120; else elseDescription">
    <li> <button (click)="changeToUpdate(item)">Düzenle</button>{{ item.id }} {{ item.name| uppercase  }}_______{{item.description.substring(0,120) + '...'}}</li>
    </ng-container>
    <ng-template #elseDescription>
      <li> <button (click)="changeToUpdate(item)">Düzenle</button>{{ item.id }} {{ item.name| uppercase  }}_______{{item.description}}</li>

    </ng-template>
  </div>
</ul>

<!-- Reactive Form -->
<h2>{{header}}</h2>
<form [formGroup]="categoryAddForm" (submit)="add()">
 <p>{{error}}</p>
  <input formControlName="name" type="text" placeholder="Enter name" />
  <input
    formControlName="description"
    type="text"
    placeholder="Enter description"
  />
 
 <!-- Arrange button name changes via UPDATING is in progress or not -->
 
  <ng-container *ngIf="isUpdating == true; else elseButton">
    <button type="button" (click)="updateCategory()">Update</button>
  </ng-container>
  
  <ng-template #elseButton>
    <button type="submit">Add</button>
  </ng-template>
 
</form>

<!-- ngModel Form -->
<h1>Form - Delete</h1>
Silecek olan id: {{ categoryIdToDelete }}
<div>
  <input type="text" placeholder="id" [(ngModel)]="categoryIdToDelete" />
  <button (click)="delete()">Sil</button>
</div>
