<!--
    
<label for="">Product Name</label>
<br>
<br>
<input type="text" [(ngModel)] = "productName">
<button (click)="addProduct(productName)">Add</button>

<ul>
    <li *ngFor="let item of productList">{{item}} <button (click)="deleteProduct(item)">X</button></li>
</ul>


-->


<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div>
      <label>
        Name:
        <input formControlName="name" placeholder="Your product">
      </label>
    </div>
    <button type="submit">Add</button>
  </form>


  <ul>
    <li *ngFor="let name of myNames">{{name}} <button (click)="deleteName(name)">X</button></li>
  </ul>
